<h2 [ngStyle.xs]="{'textAlign': 'center'}">Todos os pokemons</h2>
<!-- <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="paginator($event)"
                 aria-label="Select page"
                 style="margin-bottom: 10px;"
                 >
</mat-paginator> -->

<section dir="ltr" [ngStyle.xs]="{'margin.px': 10}" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
    <mat-card @fadeIn [@flip]="item.animate" color="secondary" class="example-card"  fxFlex="23" *ngFor="let item of list;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img [src]="item.imgUrl.profile">
            </div>
            <mat-card-title class="pk-name">{{item.name | uppercase}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <div class="main-img" mat-card-image>
            <img mat-card-image [src]="item.imgUrl.main" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row wrap" fxLayoutAlign="center start">
            <button mat-button [color]="item.favorite ? 'accent' : 'grey'" (click)="setFavorite(item)">
                <mat-icon  aria-hidden="false" aria-label="Example home icon" >
                    {{item.favorite ? 'star' : 'star_outline' }}
                </mat-icon>
            </button>
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">
                    share
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</section>
  
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="paginator($event)"
                 aria-label="Select page">
  </mat-paginator>
