<h2 [ngStyle.xs]="{'textAlign': 'center'}">title</h2>
<section dir="ltr" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
    <mat-card class="example-card" [ngStyle.xs]="{'margin.px': 20}" fxFlex="23" *ngFor="let item of [1,2,2,2,2,2,2,2,5]">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row wrap" fxLayoutAlign="center start">
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">
                    star_outline
                </mat-icon>
            </button>
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">
                    share
                </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</section>
