@import '../../../_palleta.scss';
.example-card {
    max-width: 400px;
    margin-bottom: 15px;
    
    .example-header-image {
      position: relative;
      
      background-color: $bg-color;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        position: absolute;
        width: 85%;
        height: 85%;
      }
      
    }
    .pk-name{
      font-size: clamp(1rem, 1rem + 10vw, 2rem);
    }
    
    .main-img{
      padding: 10px;
      background-color: $bg-color;
      margin-bottom: 10px;
    }

  }